<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online python IDE</title>
</head>
<body>
    
    <form method="POST">
        {% csrf_token %}
        <textarea name="code" rows="5" cols="50">{% if code %}{{code}}{% endif %}</textarea>
        <input type="submit">
    </form>
    {% if result %}
    <p>{{result}}</p>

    {% endif %}
</body>
</html>